.div-tabla{
    margin: auto;
    width: 90%;
    height:300px;
    overflow:auto;
     
}
#filtro{
    margin: auto;
    width: 90%;
}
#regiones{
    width: 20%;
    display: inline-block;
}
#btnBuscar{
    display: inline-block;
    height: 48px;
    width: 7%;
}
#modalMapa {
    width:  720px;
    height: 500px;
  }
#btnMesa{
    height: 48px;
    width: 20%;
}
#btnExportar{
    height: 48px;
    width: 20%;
    float: right;
}
